{
  "branches": ["master"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/changelog", {
      "changelogFile": "CHANGELOG.md",
      "changelogTitle": "# Semantic Versioning Changelog"
    }],
    ["@semantic-release/npm", {
      "npmPublish": true,
    }],
    "@semantic-release/github"
  ]
}
