version: 2
orbs:
  coveralls: coveralls/coveralls@1.0.4
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:14.17.4-browsers

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4
    working_directory: ~/user-data-for-fraud-prevention

    steps:
      - checkout

      - run: yarn

      # run lint
      - run: yarn lint

      # run build
      - run: yarn build

      # run tests
      - run:
          name: "Run tests"
          command: yarn test

      - persist_to_workspace:
          root: .
          paths:
            - .

  release:
    docker:
      - image: circleci/node:14.17.4-browsers
    steps:
      - attach_workspace:
          at: .
      - run: npx semantic-release
      
  coverage:
    docker:
      - image: circleci/node:14.17.4-browsers
    steps:
      - attach_workspace:
          at: .
      - run: yarn test:coverage
      - store_artifacts:
          path: coverage
notify:
  webhooks:
    - url: https://coveralls.io/webhook?repo_token=${process.env.COVERALLS_REPO_TOKEN}

workflows:
  version: 2
  build:
    jobs:
      - build
      - coverage:
          requires:
            - build
          filters:
            branches:
              only:
                - master
      - release:
          requires:
            - coverage
          filters:
            branches:
              only:
                - master
